





<!-- <button role="listitem" *ngFor="let menu of menuList;let i=index" [ngClass]="menu.active" routerLink="/{{menu.routePath}}" (click)="setActive(i)">

  {{menu.title}}
</button> -->

<mat-toolbar color="primary">
  <mat-toolbar-row >
    <!-- <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon >menu</mat-icon>
    </button> -->
    <button mat-icon-button (click)="sidenav.toggle()" >
      <mat-icon >menu</mat-icon>
    </button>
    <h1>Nav Bar</h1>
 </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
<mat-sidenav #sidenav opened="true" >
  <mat-list role="list">
    <mat-list-item role="listitem" *ngFor="let menu of menuList;let i=index" [ngClass]="menu.active" routerLink="/{{menu.routePath}}" (click)="setActive(i);sidenav.toggle()">
      <mat-icon>{{menu.icon}}</mat-icon>
      <button mat-button><span>{{menu.title}}</span></button>
    </mat-list-item>

  </mat-list>

 </mat-sidenav>
 <mat-sidenav-content >
  <div style="height:150px;margin-left:200px;"> <router-outlet></router-outlet></div>
</mat-sidenav-content>
</mat-sidenav-container>



  <!-- <mat-sidenav #sidenav opened="true" >
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let menu of menuList;let i=index" [ngClass]="menu.active" routerLink="/{{menu.routePath}}" (click)="setActive(i)">
        <mat-icon>{{menu.icon}}</mat-icon>
        <span>{{menu.title}}</span>
      </mat-list-item>

    </mat-list>

   </mat-sidenav>
   <mat-sidenav-content >
      <div style="height:150px"></div>
    </mat-sidenav-content> -->


